:root,
:root.light {
  --body-background-color: #fff;
  --header-top-background-color: transparent;
  --header-notop-background-color: #fff;
  --header-top-border-bottom: #e2e2e3;
  --header-notop-border-bottom: #e2e2e3;
  --header-title-color: #3c3c43;
  --header-a-color: #444;
  --header-a-hover-color: #5672cd;
  --header-svg-color: #67676c;
  --header-svg-hover-color: #3c3c43;
  --header-isolation-background-color: #e2e2e3;
  --header-menu-switch: #3c3c43;
  --header-menu-background-color: #fff;
  --header-appearance-svg-color: rgba(60,60,67,0.78);
  --header-phone-menu-switch: #3c3c43;
  --header-phone-menu-background-color: #fff;
  --header-phone-menu-appearance-background-color: #f6f6f7;
  --header-postmenu-border: #e2e2e3;
  --header-postmenu-background-color: #fff;
  --header-postmenu-color: rgba(60,60,67,0.78);
  --header-toc-background-color: #f6f6f7;
  --header-toc-border: #c2c2c4;
  --header-toc-p-color: #3451b2;
  --header-toc-p-border: #c2c2c4;
  --footer-color: rgba(60,60,67,0.78);
  --footer-border-top: #e2e2e3;
  --footer-a-color: rgba(60,60,67,0.78);
  --footer-a-hover-color: #5672cd;
  --home-span-background: linear-gradient(to right bottom, #56b6ff, #50abff, #54a0ff, #6093ff, #7284ff, #7e7aff, #8c6fff, #9b62ff, #a35aff, #ab50ff, #b444ff, #bd34fe);
  --home-span-color: transparent;
  --home-p-color: #3c3c43;
  --home-tagline-color: rgba(60,60,67,0.78);
  --home-button-a-border: transparent;
  --home-brand-a-color: #fff;
  --home-brand-a-background-color: #5672cd;
  --home-brand-a-hover-background-color: #3a5ccc;
  --home-alt-a-color: #3c3c43;
  --home-alt-a-background-color: #ebebef;
  --home-alt-a-hover-background-color: #e4e4e9;
  --home-logo-div-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --home-Container-li-background-color: #f6f6f7;
  --home-Container-img-background-color: #e7e8ec;
  --home-Container-span-color: #3c3c43;
  --home-Container-p-color: rgba(60,60,67,0.78);
  --post-postlist-background-color: #f6f6f7;
  --post-postlist-span-a-color: #3c3c43;
  --post-postlist-section-a-color: rgba(60,60,67,0.78);
  --post-postlist-section-a-hover-color: #5672cd;
  --post-article-post-color: #3c3c43;
  --post-article-scrollbar: #3451b2;
  --post-toc-border-left: #e2e2e3;
  --post-toc-p-color: #3c3c43;
  --post-toc-a-color: rgba(60,60,67,0.78);
  --post-toc-a-hover-color: #5672cd;
  --article-title-color: #3c3c43;
  --article-a-color: #5672cd;
  --article-a-hover-color: #3a5ccc;
  --article-h-color: #3c3c43;
  --article-h-hover-color: #5672cd;
  --article-blockquote-background-color: #eff0f3;
  --article-code-color: #3451b2;
  --article-code-background-color: rgba(142,150,170,0.141);
  --article-figure-background-color: #f6f6f7;
  --article-table-border: #3c3c43;
}
:root.dark {
  --body-background-color: #1b1b1f;
  --header-top-background-color: transparent;
  --header-notop-background-color: #1b1b1f;
  --header-top-border-bottom: #000;
  --header-notop-border-bottom: #000;
  --header-title-color: rgba(255,255,245,0.859);
  --header-a-color: rgba(255,255,245,0.859);
  --header-a-hover-color: #9da7ef;
  --header-svg-color: #98989f;
  --header-svg-hover-color: #dfdfd6;
  --header-isolation-background-color: #2e2e32;
  --header-menu-switch: rgba(255,255,245,0.859);
  --header-menu-background-color: #202127;
  --header-appearance-svg-color: rgba(235,235,245,0.6);
  --header-phone-menu-switch: rgba(255,255,245,0.859);
  --header-phone-menu-background-color: #1b1b1f;
  --header-phone-menu-appearance-background-color: #1b1b1f;
  --header-postmenu-border: #000;
  --header-postmenu-background-color: #1b1b1f;
  --header-postmenu-color: rgba(235,235,245,0.6);
  --header-toc-background-color: #202127;
  --header-toc-border: #3c3f44;
  --header-toc-p-color: #a8b1ff;
  --header-toc-p-border: #000;
  --footer-color: rgba(235,235,245,0.6);
  --footer-border-top: #000;
  --footer-a-color: rgba(235,235,245,0.6);
  --footer-a-hover-color: #9da7ef;
  --home-span-background: linear-gradient(to right bottom, #56b6ff, #50abff, #54a0ff, #6093ff, #7284ff, #7e7aff, #8c6fff, #9b62ff, #a35aff, #ab50ff, #b444ff, #bd34fe);
  --home-span-color: transparent;
  --home-p-color: rgba(255,255,245,0.859);
  --home-tagline-color: rgba(235,235,245,0.6);
  --home-button-a-border: transparent;
  --home-brand-a-color: #fff;
  --home-brand-a-background-color: #3e63dd;
  --home-brand-a-hover-background-color: #5c73e7;
  --home-alt-a-color: rgba(255,255,245,0.859);
  --home-alt-a-background-color: #32363f;
  --home-alt-a-hover-background-color: #414853;
  --home-logo-div-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --home-Container-li-background-color: #202127;
  --home-Container-img-background-color: rgba(101,117,133,0.161);
  --home-Container-span-color: rgba(255,255,245,0.859);
  --home-Container-p-color: rgba(235,235,245,0.6);
  --post-postlist-background-color: #161618;
  --post-postlist-span-a-color: rgba(255,255,245,0.859);
  --post-postlist-section-a-color: rgba(235,235,245,0.6);
  --post-postlist-section-a-hover-color: #a8b1ff;
  --post-article-post-color: rgba(255,255,245,0.859);
  --post-article-scrollbar: #a8b1ff;
  --post-toc-border-left: #2e2e32;
  --post-toc-p-color: rgba(255,255,245,0.859);
  --post-toc-a-color: rgba(235,235,245,0.6);
  --post-toc-a-hover-color: #a8b1ff;
  --article-title-color: rgba(255,255,245,0.859);
  --article-a-color: #a8b1ff;
  --article-a-hover-color: #5c73e7;
  --article-h-color: rgba(255,255,245,0.859);
  --article-h-hover-color: #a8b1ff;
  --article-blockquote-background-color: rgba(101,117,133,0.161);
  --article-code-color: #a8b1ff;
  --article-code-background-color: rgba(101,117,133,0.161);
  --article-figure-background-color: #161618;
  --article-table-border: rgba(255,255,245,0.859);
}
